In [1]:
import tensorflow as tf
from tensorflow import keras
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import numpy as np
import matplotlib.pyplot as plt
import netron
import seaborn as sns

In [2]:
import pandas as pd

In [3]:
from sklearn import datasets
data = datasets.fetch_openml(name='titanic', version=1)

In [4]:
data

{'data':       pclass                                             name     sex  \
 0          1                    Allen, Miss. Elisabeth Walton  female
 1          1                   Allison, Master. Hudson Trevor    male
 2          1                     Allison, Miss. Helen Loraine  female
 3          1             Allison, Mr. Hudson Joshua Creighton    male
 4          1  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female
 ...      ...                                              ...     ...
 1304       3                             Zabour, Miss. Hileni  female
 1305       3                            Zabour, Miss. Thamine  female
 1306       3                        Zakarian, Mr. Mapriededer    male
 1307       3                              Zakarian, Mr. Ortin    male
 1308       3                               Zimmerman, Mr. Leo    male

           age  sibsp  parch  ticket      fare    cabin embarked boat   body  \
 0     29.0000      0      0   24160  211.3375       B5        S    2    NaN
 1      0.9167      1      2  113781  151.5500  C22 C26        S   11    NaN
 2      2.0000      1      2  113781  151.5500  C22 C26        S  NaN    NaN
 3     30.0000      1      2  113781  151.5500  C22 C26        S  NaN  135.0
 4     25.0000      1      2  113781  151.5500  C22 C26        S  NaN    NaN
 ...       ...    ...    ...     ...       ...      ...      ...  ...    ...
 1304  14.5000      1      0    2665   14.4542      NaN        C  NaN  328.0
 1305      NaN      1      0    2665   14.4542      NaN        C  NaN    NaN
 1306  26.5000      0      0    2656    7.2250      NaN        C  NaN  304.0
 1307  27.0000      0      0    2670    7.2250      NaN        C  NaN    NaN
 1308  29.0000      0      0  315082    7.8750      NaN        S  NaN    NaN

                             home.dest
 0                        St Louis, MO
 1     Montreal, PQ / Chesterville, ON
 2     Montreal, PQ / Chesterville, ON
 3     Montreal, PQ / Chesterville, ON
 4     Montreal, PQ / Chesterville, ON
 ...                               ...
 1304                              NaN
 1305                              NaN
 1306                              NaN
 1307                              NaN
 1308                              NaN

 [1309 rows x 13 columns],
 'target': 0       1
 1       1
 2       0
 3       0
 4       0
        ..
 1304    0
 1305    0
 1306    0
 1307    0
 1308    0
 Name: survived, Length: 1309, dtype: category
 Categories (2, object): ['0', '1'],
 'frame':       pclass survived                                             name  \
 0          1        1                    Allen, Miss. Elisabeth Walton
 1          1        1                   Allison, Master. Hudson Trevor
 2          1        0                     Allison, Miss. Helen Loraine
 3          1        0             Allison, Mr. Hudson Joshua Creighton
 4          1        0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
 ...      ...      ...                                              ...
 1304       3        0                             Zabour, Miss. Hileni
 1305       3        0                            Zabour, Miss. Thamine
 1306       3        0                        Zakarian, Mr. Mapriededer
 1307       3        0                              Zakarian, Mr. Ortin
 1308       3        0                               Zimmerman, Mr. Leo

          sex      age  sibsp  parch  ticket      fare    cabin embarked boat  \
 0     female  29.0000      0      0   24160  211.3375       B5        S    2
 1       male   0.9167      1      2  113781  151.5500  C22 C26        S   11
 2     female   2.0000      1      2  113781  151.5500  C22 C26        S  NaN
 3       male  30.0000      1      2  113781  151.5500  C22 C26        S  NaN
 4     female  25.0000      1      2  113781  151.5500  C22 C26        S  NaN
 ...      ...      ...    ...    ...     ...       ...      ...      ...  ...
 1304  female  14.5000      1      0    2665   14.4542      NaN        C  NaN
 1305  female      NaN      1      0    2665   14.4542      NaN        C  NaN
 1306    male  26.5000      0      0    2656    7.2250      NaN        C  NaN
 1307    male  27.0000      0      0    2670    7.2250      NaN        C  NaN
 1308    male  29.0000      0      0  315082    7.8750      NaN        S  NaN

        body                        home.dest
 0       NaN                     St Louis, MO
 1       NaN  Montreal, PQ / Chesterville, ON
 2       NaN  Montreal, PQ / Chesterville, ON
 3     135.0  Montreal, PQ / Chesterville, ON
 4       NaN  Montreal, PQ / Chesterville, ON
 ...     ...                              ...
 1304  328.0                              NaN
 1305    NaN                              NaN
 1306  304.0                              NaN
 1307    NaN                              NaN
 1308    NaN                              NaN

 [1309 rows x 14 columns],
 'categories': None,
 'feature_names': ['pclass',
  'name',
  'sex',
  'age',
  'sibsp',
  'parch',
  'ticket',
  'fare',
  'cabin',
  'embarked',
  'boat',
  'body',
  'home.dest'],
 'target_names': ['survived'],
 'DESCR': '**Author**: Frank E. Harrell Jr., Thomas Cason  \n**Source**: [Vanderbilt Biostatistics](http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic.html)  \n**Please cite**:   \n\nThe original Titanic dataset, describing the survival status of individual passengers on the Titanic. The titanic data does not contain information from the crew, but it does contain actual ages of half of the passengers. The principal source for data about Titanic passengers is the Encyclopedia Titanica. The datasets used here were begun by a variety of researchers. One of the original sources is Eaton & Haas (1994) Titanic: Triumph and Tragedy, Patrick Stephens Ltd, which includes a passenger list created by many researchers and edited by Michael A. Findlay.\n\nThomas Cason of UVa has greatly updated and improved the titanic data frame using the Encyclopedia Titanica and created the dataset here. Some duplicate passengers have been dropped, many errors corrected, many missing ages filled in, and new variables created. \n\nFor more information about how this dataset was constructed:\nhttp://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3info.txt\n\n\n### Attribute information  \n\nThe variables on our extracted dataset are pclass, survived, name, age, embarked, home.dest, room, ticket, boat, and sex. pclass refers to passenger class (1st, 2nd, 3rd), and is a proxy for socio-economic class. Age is in years, and some infants had fractional values. The titanic2 data frame has no missing data and includes records for the crew, but age is dichotomized at adult vs. child. These data were obtained from Robert Dawson, Saint Mary\'s University, E-mail. The variables are pclass, age, sex, survived. These data frames are useful for demonstrating many of the functions in Hmisc as well as demonstrating binary logistic regression analysis using the Design library. For more details and references see Simonoff, Jeffrey S (1997): The "unusual episode" and a second statistics course. J Statistics Education, Vol. 5 No. 1.\n\nDownloaded from openml.org.',
 'details': {'id': '40945',
  'name': 'Titanic',
  'version': '1',
  'description_version': '9',
  'format': 'ARFF',
  'upload_date': '2017-10-16T01:17:36',
  'licence': 'Public',
  'url': 'https://api.openml.org/data/v1/download/16826755/Titanic.arff',
  'parquet_url': 'https://openml1.win.tue.nl/datasets/0004/40945/dataset_40945.pq',
  'file_id': '16826755',
  'default_target_attribute': 'survived',
  'tag': ['Computational Universe', 'Manufacturing', 'text_data'],
  'visibility': 'public',
  'minio_url': 'https://openml1.win.tue.nl/datasets/0004/40945/dataset_40945.pq',
  'status': 'active',
  'processing_date': '2018-10-04 07:19:36',
  'md5_checksum': '60ac7205eee0ba5045c90b3bba95b1c4'},
 'url': 'https://www.openml.org/d/40945'}

In [5]:
X = data.data
y=data.target

In [6]:
X = pd.DataFrame(X)

In [7]:
y = pd.DataFrame(y)

In [8]:
X.head()

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [9]:
X['survived'] = y

In [10]:
X.head()

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",0

In [11]:
X = X[['pclass','sex','age','sibsp','parch','fare','embarked','boat','survived']]

In [12]:
X.head()

   pclass     sex      age  sibsp  parch      fare embarked boat survived
0       1  female  29.0000      0      0  211.3375        S    2        1
1       1    male   0.9167      1      2  151.5500        S   11        1
2       1  female   2.0000      1      2  151.5500        S  NaN        0
3       1    male  30.0000      1      2  151.5500        S  NaN        0
4       1  female  25.0000      1      2  151.5500        S  NaN        0

In [13]:
X.dropna(inplace=True)

In [14]:
X.head()

   pclass     sex      age  sibsp  parch      fare embarked boat survived
0       1  female  29.0000      0      0  211.3375        S    2        1
1       1    male   0.9167      1      2  151.5500        S   11        1
5       1    male  48.0000      0      0   26.5500        S    3        1
6       1  female  63.0000      1      0   77.9583        S   10        1
8       1  female  53.0000      2      0   51.4792        S    D        1

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
le = LabelEncoder()

In [17]:
X['sex'] = le.fit_transform(X['sex'])
X['embarked'] = le.fit_transform(X['embarked'])

In [18]:
X['boat'] = le.fit_transform(X['boat'])

In [19]:
X.head()

   pclass  sex      age  sibsp  parch      fare  embarked  boat survived
0       1    0  29.0000      0      0  211.3375         2    10        1
1       1    1   0.9167      1      2  151.5500         2     2        1
5       1    1  48.0000      0      0   26.5500         2    11        1
6       1    0  63.0000      1      0   77.9583         2     1        1
8       1    0  53.0000      2      0   51.4792         2    25        1

In [20]:
y = X['survived']
X = X.drop(['survived'],axis=1)

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [22]:
X.describe()

,pclass,sex,age,sibsp,parch,fare,embarked,boat
count,415.000000,415.000000,415.000000,415.000000,415.000000,415.000000,415.000000,415.000000
mean,1.877108,0.339759,28.838755,0.491566,0.546988,54.015092,1.339759,11.455422
std,0.852295,0.474199,14.998503,0.687572,0.814770,73.199108,0.926129,7.227986
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,20.000000,0.000000,0.000000,13.000000,0.000000,4.000000
50%,2.000000,0.000000,28.000000,0.000000,0.000000,26.287500,2.000000,11.000000
75%,3.000000,1.000000,37.500000,1.000000,1.000000,65.000000,2.000000,18.000000
max,3.000000,1.000000,80.000000,4.000000,5.000000,512.329200,2.000000,25.000000

In [23]:
import tensorflow as tf
from tensorflow import keras
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
import pandas as pd
import numpy as np

# Define the MLP model
model = keras.Sequential([
    keras.layers.Dense(100, activation='relu', input_shape=(X_train.shape[1],)),
    keras.layers.Dense(50, activation='relu'),
    keras.layers.Dense(2, activation='softmax')
])

# Compile the model
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

c:\Users\vigne\AppData\Local\Programs\Python\Python39\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [24]:
print(y)

0       1
1       1
5       1
6       1
8       1
       ..
1260    1
1261    1
1277    1
1286    1
1299    0
Name: survived, Length: 415, dtype: category
Categories (2, object): ['0', '1']

In [26]:
X_train.shape

(332, 8)

In [27]:
model = keras.Sequential([
    keras.layers.Input((8,)),
    keras.layers.Dense(100,activation='relu'),
    keras.layers.Dense(50,activation='relu'),
    keras.layers.Dense(1,activation='softmax')
])

In [28]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [29]:
y_train = le.fit_transform(y_train)
y_test = le.fit_transform(y_test)
history = model.fit(X_train, y_train, epochs=100, batch_size=32, validation_data=(X_test, y_test))
# history = model.fit(X_train,y_train,epochs=100,batch_size=32,validation_data=(X_test,y_test))

Epoch 1/100

c:\Users\vigne\AppData\Local\Programs\Python\Python39\lib\site-packages\keras\src\ops\nn.py:545: UserWarning: You are using a softmax over axis -1 of a tensor of shape (None, 1). This axis has size 1. The softmax operation will always return the value 1, which is likely not what you intended. Did you mean to use a sigmoid instead?
  warnings.warn(

11/11 ━━━━━━━━━━━━━━━━━━━━ 1s 20ms/step - accuracy: 0.9896 - loss: 1.8071 - val_accuracy: 0.9759 - val_loss: 0.1647
Epoch 2/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9866 - loss: 0.1233 - val_accuracy: 0.9759 - val_loss: 0.1946
Epoch 3/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9898 - loss: 0.0964 - val_accuracy: 0.9759 - val_loss: 0.1845
Epoch 4/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9775 - loss: 0.1980 - val_accuracy: 0.9759 - val_loss: 0.1609
Epoch 5/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9903 - loss: 0.0883 - val_accuracy: 0.9759 - val_loss: 0.1425
Epoch 6/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.9913 - loss: 0.0630 - val_accuracy: 0.9759 - val_loss: 0.1215
Epoch 7/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.9790 - loss: 0.1742 - val_accuracy: 0.9759 - val_loss: 0.1025
Epoch 8/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.9792 - loss: 0.1631 - val_accuracy: 0.9759 - val_loss: 0.0956
Epoch 9/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9843 - loss: 0.0978 - val_accuracy: 0.9759 - val_loss: 0.0958
Epoch 10/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.9879 - loss: 0.0799 - val_accuracy: 0.9759 - val_loss: 0.0962
Epoch 11/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9811 - loss: 0.0967 - val_accuracy: 0.9759 - val_loss: 0.0908
Epoch 12/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9831 - loss: 0.0792 - val_accuracy: 0.9759 - val_loss: 0.0966
Epoch 13/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9850 - loss: 0.1170 - val_accuracy: 0.9759 - val_loss: 0.0980
Epoch 14/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9894 - loss: 0.0630 - val_accuracy: 0.9759 - val_loss: 0.0916
Epoch 15/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.9877 - loss: 0.0553 - val_accuracy: 0.9759 - val_loss: 0.0957
Epoch 16/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9853 - loss: 0.0715 - val_accuracy: 0.9759 - val_loss: 0.0870
Epoch 17/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.9800 - loss: 0.0908 - val_accuracy: 0.9759 - val_loss: 0.1033
Epoch 18/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.9794 - loss: 0.0730 - val_accuracy: 0.9759 - val_loss: 0.1142
Epoch 19/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9780 - loss: 0.0972 - val_accuracy: 0.9759 - val_loss: 0.0942
Epoch 20/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9838 - loss: 0.0835 - val_accuracy: 0.9759 - val_loss: 0.1024
Epoch 21/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9882 - loss: 0.0457 - val_accuracy: 0.9759 - val_loss: 0.1027
Epoch 22/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9753 - loss: 0.0878 - val_accuracy: 0.9759 - val_loss: 0.0927
Epoch 23/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9956 - loss: 0.0320 - val_accuracy: 0.9759 - val_loss: 0.1197
Epoch 24/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9859 - loss: 0.0775 - val_accuracy: 0.9759 - val_loss: 0.1004
Epoch 25/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9814 - loss: 0.0772 - val_accuracy: 0.9759 - val_loss: 0.0993
Epoch 26/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9832 - loss: 0.0695 - val_accuracy: 0.9759 - val_loss: 0.1084
Epoch 27/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9729 - loss: 0.1063 - val_accuracy: 0.9759 - val_loss: 0.1084
Epoch 28/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.9838 - loss: 0.0548 - val_accuracy: 0.9759 - val_loss: 0.1012
Epoch 29/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9907 - loss: 0.0338 - val_accuracy: 0.9759 - val_loss: 0.1031
Epoch 30/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9813 - loss: 0.0598 - val_accuracy: 0.9759 - val_loss: 0.1114
Epoch 31/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9928 - loss: 0.0326 - val_accuracy: 0.9759 - val_loss: 0.1035
Epoch 32/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9895 - loss: 0.0399 - val_accuracy: 0.9759 - val_loss: 0.1124
Epoch 33/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9870 - loss: 0.0471 - val_accuracy: 0.9759 - val_loss: 0.1267
Epoch 34/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9890 - loss: 0.0347 - val_accuracy: 0.9759 - val_loss: 0.1217
Epoch 35/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9805 - loss: 0.0591 - val_accuracy: 0.9759 - val_loss: 0.1160
Epoch 36/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9858 - loss: 0.0321 - val_accuracy: 0.9759 - val_loss: 0.1247
Epoch 37/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9870 - loss: 0.0456 - val_accuracy: 0.9759 - val_loss: 0.1120
Epoch 38/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9813 - loss: 0.0340 - val_accuracy: 0.9759 - val_loss: 0.1276
Epoch 39/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9913 - loss: 0.0288 - val_accuracy: 0.9759 - val_loss: 0.1292
Epoch 40/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9901 - loss: 0.0389 - val_accuracy: 0.9759 - val_loss: 0.1209
Epoch 41/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9838 - loss: 0.0503 - val_accuracy: 0.9759 - val_loss: 0.1189
Epoch 42/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9935 - loss: 0.0331 - val_accuracy: 0.9759 - val_loss: 0.1373
Epoch 43/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9836 - loss: 0.0369 - val_accuracy: 0.9759 - val_loss: 0.1007
Epoch 44/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9831 - loss: 0.0359 - val_accuracy: 0.9759 - val_loss: 0.1374
Epoch 45/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9859 - loss: 0.0312 - val_accuracy: 0.9759 - val_loss: 0.1391
Epoch 46/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9832 - loss: 0.0328 - val_accuracy: 0.9759 - val_loss: 0.1237
Epoch 47/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9858 - loss: 0.0320 - val_accuracy: 0.9759 - val_loss: 0.1476
Epoch 48/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9872 - loss: 0.0317 - val_accuracy: 0.9759 - val_loss: 0.1358
Epoch 49/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9840 - loss: 0.0257 - val_accuracy: 0.9759 - val_loss: 0.1472
Epoch 50/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.9815 - loss: 0.0312 - val_accuracy: 0.9759 - val_loss: 0.1456
Epoch 51/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9863 - loss: 0.0408 - val_accuracy: 0.9759 - val_loss: 0.1424
Epoch 52/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9783 - loss: 0.0394 - val_accuracy: 0.9759 - val_loss: 0.1438
Epoch 53/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9871 - loss: 0.0262 - val_accuracy: 0.9759 - val_loss: 0.1411
Epoch 54/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9884 - loss: 0.0256 - val_accuracy: 0.9759 - val_loss: 0.1407
Epoch 55/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9875 - loss: 0.0234 - val_accuracy: 0.9759 - val_loss: 0.1470
Epoch 56/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9846 - loss: 0.0284 - val_accuracy: 0.9759 - val_loss: 0.1462
Epoch 57/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9780 - loss: 0.0248 - val_accuracy: 0.9759 - val_loss: 0.1522
Epoch 58/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9781 - loss: 0.0358 - val_accuracy: 0.9759 - val_loss: 0.1463
Epoch 59/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9811 - loss: 0.0267 - val_accuracy: 0.9759 - val_loss: 0.1568
Epoch 60/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9772 - loss: 0.0366 - val_accuracy: 0.9759 - val_loss: 0.1576
Epoch 61/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9884 - loss: 0.0160 - val_accuracy: 0.9759 - val_loss: 0.1459
Epoch 62/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9904 - loss: 0.0199 - val_accuracy: 0.9759 - val_loss: 0.1601
Epoch 63/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9821 - loss: 0.0235 - val_accuracy: 0.9759 - val_loss: 0.1506
Epoch 64/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9882 - loss: 0.0206 - val_accuracy: 0.9759 - val_loss: 0.1605
Epoch 65/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9846 - loss: 0.0142 - val_accuracy: 0.9759 - val_loss: 0.1673
Epoch 66/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9753 - loss: 0.0334 - val_accuracy: 0.9759 - val_loss: 0.1591
Epoch 67/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9885 - loss: 0.0179 - val_accuracy: 0.9759 - val_loss: 0.1604
Epoch 68/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9909 - loss: 0.0136 - val_accuracy: 0.9759 - val_loss: 0.1602
Epoch 69/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9802 - loss: 0.0184 - val_accuracy: 0.9759 - val_loss: 0.1731
Epoch 70/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9712 - loss: 0.0315 - val_accuracy: 0.9759 - val_loss: 0.1688
Epoch 71/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.9885 - loss: 0.0167 - val_accuracy: 0.9759 - val_loss: 0.1331
Epoch 72/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.9893 - loss: 0.0169 - val_accuracy: 0.9759 - val_loss: 0.1578
Epoch 73/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9779 - loss: 0.0163 - val_accuracy: 0.9759 - val_loss: 0.1802
Epoch 74/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9881 - loss: 0.0149 - val_accuracy: 0.9759 - val_loss: 0.1712
Epoch 75/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9863 - loss: 0.0177 - val_accuracy: 0.9759 - val_loss: 0.1746
Epoch 76/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9864 - loss: 0.0175 - val_accuracy: 0.9759 - val_loss: 0.1721
Epoch 77/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9817 - loss: 0.0151 - val_accuracy: 0.9759 - val_loss: 0.1674
Epoch 78/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9797 - loss: 0.0145 - val_accuracy: 0.9759 - val_loss: 0.1773
Epoch 79/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9869 - loss: 0.0112 - val_accuracy: 0.9759 - val_loss: 0.1760
Epoch 80/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9831 - loss: 0.0131 - val_accuracy: 0.9759 - val_loss: 0.1770
Epoch 81/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9827 - loss: 0.0136 - val_accuracy: 0.9759 - val_loss: 0.1765
Epoch 82/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9750 - loss: 0.0154 - val_accuracy: 0.9759 - val_loss: 0.1811
Epoch 83/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9868 - loss: 0.0091 - val_accuracy: 0.9759 - val_loss: 0.1749
Epoch 84/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9763 - loss: 0.0192 - val_accuracy: 0.9759 - val_loss: 0.1911
Epoch 85/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9823 - loss: 0.0131 - val_accuracy: 0.9759 - val_loss: 0.1673
Epoch 86/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9877 - loss: 0.0109 - val_accuracy: 0.9759 - val_loss: 0.1784
Epoch 87/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9806 - loss: 0.0149 - val_accuracy: 0.9759 - val_loss: 0.1871
Epoch 88/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9861 - loss: 0.0107 - val_accuracy: 0.9759 - val_loss: 0.1714
Epoch 89/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9740 - loss: 0.0186 - val_accuracy: 0.9759 - val_loss: 0.2060
Epoch 90/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9832 - loss: 0.0125 - val_accuracy: 0.9759 - val_loss: 0.1612
Epoch 91/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9916 - loss: 0.0105 - val_accuracy: 0.9759 - val_loss: 0.1897
Epoch 92/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9928 - loss: 0.0075 - val_accuracy: 0.9759 - val_loss: 0.1868
Epoch 93/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9855 - loss: 0.0109 - val_accuracy: 0.9759 - val_loss: 0.1863
Epoch 94/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9894 - loss: 0.0098 - val_accuracy: 0.9759 - val_loss: 0.1906
Epoch 95/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9913 - loss: 0.0162 - val_accuracy: 0.9759 - val_loss: 0.1808
Epoch 96/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9856 - loss: 0.0139 - val_accuracy: 0.9759 - val_loss: 0.1815
Epoch 97/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9815 - loss: 0.0131 - val_accuracy: 0.9759 - val_loss: 0.1896
Epoch 98/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9894 - loss: 0.0081 - val_accuracy: 0.9759 - val_loss: 0.1994
Epoch 99/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9872 - loss: 0.0081 - val_accuracy: 0.9759 - val_loss: 0.1775
Epoch 100/100
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9825 - loss: 0.0116 - val_accuracy: 0.9759 - val_loss: 0.1889

In [30]:
y_pred = model.predict(X_test)

3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step

c:\Users\vigne\AppData\Local\Programs\Python\Python39\lib\site-packages\keras\src\ops\nn.py:545: UserWarning: You are using a softmax over axis -1 of a tensor of shape (32, 1). This axis has size 1. The softmax operation will always return the value 1, which is likely not what you intended. Did you mean to use a sigmoid instead?
  warnings.warn(

In [31]:
from sklearn.metrics import accuracy_score

In [32]:
score = accuracy_score(y_test,y_pred)

In [33]:
print("Accuracy score is: ",score*100)

Accuracy score is:  97.59036144578313

In [34]:
model_path = "model.h5"
model.save(model_path)

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [35]:
import netron

# Load the model
model_path = "model.h5"
model = keras.models.load_model(model_path)

# Visualize the model using Netron
netron.start(model_path)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

Serving 'model.h5' at http://localhost:8080

('localhost', 8080)

In [37]:
X['survived'] = y

In [38]:
X.to_csv('titanic.csv')